{% include 'head.html' %}
	<div class="company-banner"><img src="/static/img/lk-new/ywtx-banner.jpg" /></div>
  	 <div class="clear"></div>
    <div class="company-navbg">
    	<div class="news-nav">业务体系 <span>Business system</span></div>
    </div>
     
    <div class="ygfc-all">
       <div class="wz">
           <p>Loftk集团公司致力于在互联网经营以中国制造为核心的自主品牌产品，目前旗下有Loftek、Miucolor及MS三个品牌。 </p>
           <p>从企业创建之日起，我们就以"产品关怀生活"为理念，为用户提供便捷，贴心、精致的产品与全面沟通式服务，历经两年多的努力，Loftek品牌已经立足于欧美市场，并在欧美市场家居安防类享有着较高的客户声誉；Miucolor及MS作为新成立的品牌亦在短时间内建立了自己稳固的客户群体，并得到市场的充分认可。</p>
           
       </div>
       <div class="picall">
          <span><img src="/static/img/lk-new/prod.jpg" width="1000" height="458"/></span>        
       </div>
   </div>
   {% include 'footer.html' %}