{% include 'head.html' %}
	<div class="company-banner"><img src="/static/img/lk-new/contact-banenr.jpg" /></div>
     <div class="clear"></div>
    <div class="company-navbg">
    	<div class="news-nav">联系我们 <span>Contact us</span></div>
    </div>
      <div class="clear"></div>
      <div class="contact-all">
         <div class="left"><img src="/static/img/lk-new/contact-pic.jpg"/></div>
         <div class="right">
            <p>地址：广东省深圳市南山区蛇口兴华路6号南海意库1栋204</p>
            <p>电话：86-755-23942895</p>
            <p>传真：86-755-83237467</p>
            <p>邮件：public@loftk.com.cn</p>
          </div>
          <div class="img"><img src="/static/img/lk-new/contact-dt.jpg" /></div>
     </div>
    
    {% include 'footer.html' %}
