
{% include 'head.html' %}
	<div class="company-banner"><img src="/static/img/lk-new/culture-banner.jpg" /></div>
  	 <div class="clear"></div>
    <div class="company-navbg">
    	<div class="news-nav">企业文化 <span>Enterprise culture</span></div>
    </div>
     
    <div class="culture-all">
       <div class="wz">
       		<span>1、心态开放，定位清晰</span>
           <p>从根本上讲，我们相信开放和信赖的关系可以让人们建立最好的关系，因为这可以使人们相互信任、保持忠诚。我们非常重视在各个领域里建立深厚的人际关系：和经理们、直接下属、客户（包括内部的和外部的）、供应商、业务伙伴和团队成员。我们相信开放、信赖、有力和积极的人际关系会使我们取得非凡的成就。</p>
           <p>定位是发展道路的方向盘，清晰的定位能够让我们更清楚自己所处的环境，能够让我们做出更有效的行为，也是我们能够走得更远的根本。</p>
           <span>2、理想、激情、专注、行动</span>
           <p>理想是成就的关键因素，是前进道路的精神支柱；激情是驱动我们自己和公司前进的燃料，专注是我们可以把一件平凡的事情做到伟大的坚定理由。行动是一件了不起的事，只有付诸行动，计划目标才能变成现实；如果没有行动，再好的创意和想法也是浪费。</p>
           <p>因为信赖我们正在做的事情和我们的目标，我们备受鼓舞且感到快乐，激情和决心是会传染的。我们要用激情和乐观的态度来做所有正在做的事情，因为这会激发其他人持同样的态度。</p>
            <span>3、说到做到，尽心尽力</span>
           <p>说到做到，这是一个承诺——对客户的承诺，对同事的承诺，也是对自己的承诺。我们之所以值得信赖，因为我们言出必行。</p>
           <p>尽心尽力并非简单的"尽力而为"，而是全身心投入的"全力以赴"。不要满足于尚可的工作表现，要尽心尽力做到最好，你才能称为企业不可或缺的人物。</p>
            <span>4、持续学习，积极进取</span>
           <p>实现员工自身素质和专业技能两方面的提升相当重要。要不断地自我挑战，而不是让他们感觉受困于无法让自己成长的工作。</p>
           <p>我们相信，每一个员工的内在潜力比他们意识到的要多得多。我们的目标就是帮助这些员工释放那些潜能。</p>
           <p>公司一直在成长。新的挑战促进了我们的成长，而成长的过程又带来了更多的挑战。这是一个无限的良性循环，是一个公司生存的唯一方式。</p>
           <p>我们没有被竞争对手打败的唯一原因就是我们所做的事情是困难的，而比其他任何人都做得更好。如果它哪天变得太容易，那么竞争的大潮迟早会将我们淘汰掉。</p>
            <span>5、用心经营，具有主人翁意识</span>
           <p>很多事情，只要我们用心去做就能把它做好。我们希望大家在工作中可以真正体会到激情与快乐，为我们做的事情而感到骄傲，并从体会到正确的价值观与成就感。</p>
           <p>我们希望每一位同事都用经营事业态度来经营我们的工作和职业生涯规划。我们和员工不是简单的雇主与雇员的关系，我们是荣辱与共的伙伴。公司提供给你的是一个事业的平台，你可以充分利用这个平台的一切资源，做出你想要的任何成绩。</p>
           <p>工作的意义并不在于它是我们赚钱的工具，我们坚持投入一份工作往往是因为值得我们投入，并能从中实现自己的价值且感到快乐。而这种坚持与快乐，源源不断的动力是我们从心底认同自己就是工作的主人翁。因为是主人翁，我们积极的应对所有的困难和挑战，我们愿意承担责任。</p>
            <span>6、追求高效、卓越的团队</span>
           <p>我们相信，最好的团队就是那些不仅仅是一起工作，而且在工作以外的环境中仍能交往的团队。因为公司许多好的想法都是在办公室的非正式场合的交流中诞生的。</p>
           <p>最好的团队成员是看到问题能够积极主动，把公司的问题当做自己的事情去处理，并且无论出现任何挑战，都能与团队其他成员合作解决。</p>
           <p>卓越不是一个标准，而是一种境界，它是优秀中的最优。卓越是一种追求，它在于将自身的优势、能力，以及所能使用的资源，发挥到极致的一种状态。</p>
             <span>7、拥抱且驱动变革</span>
           <p>作为成长中的公司，变化就是常态。如果你没有准备好应付接二连三的变化，那么你可能就不适合这个公司。</p>
           <p>我们都必须学会不害怕变化，且要热情拥抱、支持及驱动它，并时刻做好计划和准备。</p>
           <p>永远不要满足现状，因为历史上那些陷入困境的公司大多是不能够适应变化，且反应不够迅速的公司。</p>
           <p>如果我们想继续保持自己在竞争队伍前列的位置，我们就要不断地变化，使其他对手捉摸不透。其他人可以效 仿我们的产品、我们的推广方式，但是他们不能模仿我们的人，我们的文化，以及我们的服务。</p>
           
           
       </div>
       
   </div>
   {% include 'footer.html' %}
    
   
