<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="/static/css/comment.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="all">
	<div class="toplogo">
    	<div class="logo"><a href="/"><img src="/static/img/lk-new/lk-logo.jpg" /></a></div>
        <!--<div class="serch">
        	<input name="" type="text" class="ipt"/>
            <input name="" type="button" class="iptbtn" value="搜索"/>
        </div>-->
    </div>
    <div class="clear"></div>
    <div class="nav"> 
    	<a href="/">首页</a>
        <a href="/company">公司简介</a>
        <a href="/news">新闻资讯</a>
        <a href="/business">业务体系</a>
        <a href="/culture">企业文化</a>
        <a href="/hire">人才发展</a>
        <a href="/contact">联系我们</a>
		<!--<a href="/test">测试</a>-->
    </div>
    <div class="clear"></div>