{% include 'head.html' %}
<script language="JavaScript" type="text/javascript" src="/static/js/jquery.js"></script>
<script>
$(function() {
	$('#ppselected a').click(function() {
		var t = $(this).attr('t');
		$('#ppselected a').each(function(){
			var tt = $(this).attr('t');
			$("#"+tt).hide();
		});
	   $("#"+t).show();
	   $("#"+t+" input:radio:first").attr("checked","checked");
	   $("#ppselected>a").attr("class","xz2");
	   $(this).removeAttr("class");
	});
});
</script>
<script>
$(function() {
	$('#ppselected1 a').click(function() {
		var t = $(this).attr('t');
		$('#ppselected1 a').each(function(){
			var tt = $(this).attr('t');
			$("#"+tt).hide();
		});
	   $("#"+t).show();
	   $("#"+t+" input:radio:first").attr("checked","checked");
	   $("#ppselected1>a").attr("class","xz2");
	   $(this).removeAttr("class");
	});
});
</script>
	<div class="hire-banner">
    	<div id="ppselected" class="hire-btn" >
        	<div class="shzp"><a t="pptype_1"  style="cursor: pointer;">社会招聘</a></div>
            <div class="xyzp"><a t="pptype_2"   style="cursor: pointer;">校园招聘</a></div>
        </div>
    </div>
    <div class="clear"></div>
     <div id="pptype_1" style="height:500px;">
     	 <div class="company-navbg">
            <div class="news-nav">招聘职位</div>
        </div>
        <div class="clear"></div>
     	<table width="980" border="0" cellpadding="0" cellspacing="1" class="Ptable">
          <tr>
            <th width="133">发布日期</th>
            <th width="130">部门名称</th>
            <th width="350">职位名称</th>
            <th width="120">性别</th>
            <th width="120">学历</th>
            <th width="120">经验</th>
          </tr>
          <tr>
            <td>2012-11-12</td>
            <td>销售部-国外</td>
            <td><a href="hire-detail">Ebay销售</a></td>
            <td>不限</td>
            <td>本科或以上</td>
            <td>1年或以上</td>
          </tr>
          <tr>
            <td>2012-11-12</td>
            <td>IT部</td>
            <td><a href="#">高级PHP工程师 / 资深PHP工程师</a></td>
            <td>不限</td>
            <td>本科或以上</td>
            <td>3年或以上</td>
          </tr>
           <tr>
            <td>2012-11-12</td>
            <td>IT部</td>
            <td><a href="#">初级/中级 PHP工程师</a></td>
            <td>不限</td>
            <td>本科或以上</td>
            <td>2年或以上</td>
          </tr>
      </table>
     </div>
     
     
     <div id="pptype_2" style="display:none;">
        <div class="hire-navbg">
            <div id="ppselected1" class="hirenav">
                    <a t="pptype_3"  style="cursor: pointer;">人才理念</a>
                    <a t="pptype_4" class="xz2"  style="cursor: pointer;">招聘职位</a> 
                    <a t="pptype_5" class="xz2"  style="cursor: pointer;">招聘流程</a>
                    <a t="pptype_6" class="xz2"  style="cursor: pointer;">薪酬福利</a>
             </div>
        </div>
         <div class="clear"></div>
          <div id="pptype_3" style="height:500px;">
                 <div class="culture-all">
                   <div class="wz">
                        <span>选才观：</span>
                       <p>员工实际工作绩效和发展潜力并重。诺得瀚际提倡作为一名优秀的人才要具备业绩出色、能力持续提升、团结协作、善于沟通、顾全大局的特质。</p>
                       <span>育才观：</span>
                       <p>结合发展战略，对员工进行有计划地开发与培训，提高员工的基本素质、业务技能和管理水平，开设多条晋升通道，创造均等发展机会，鼓励员工通过努力获得发展。</p>
                        <span>用才观：</span>
                       <p>用人不疑，疑人不用，合理授权，人尽其才。诺得瀚际尊重人才，但不迁就人才，让每一个有能力、有事业心的人在诺得瀚际都能够实现自我抱负和创造人生机遇。 </p>
                        <span>留才观：</span>
                       <p>公司为员工提供成长、回报，实现价值共同发展。</p>      
                   </div>
                   
               </div>
          
          
          </div>
          <div id="pptype_4" style="display:none; height:500px;">
                <table width="980" border="0" cellpadding="0" cellspacing="1" class="Ptable">
                  <tr>
                    <th width="133">发布日期</th>
                    <th width="130">部门名称</th>
                    <th width="350">职位名称</th>
                    <th width="120">性别</th>
                    <th width="120">学历</th>
                    <th width="120">经验</th>
                  </tr>
                  <tr>
                    <td>2012-11-12</td>
                    <td>采购部</td>
                    <td><a href="#">采购助理</a></td>
                    <td>不限</td>
                    <td>本科或以上</td>
                    <td>应届毕业生</td>
                  </tr>
                  <tr>
                    <td>2012-11-12</td>
                    <td>人力资源部</td>
                    <td><a href="#">人力资源助理</a></td>
                    <td>不限</td>
                    <td>本科或以上</td>
                    <td>应届毕业生</td>
                  </tr>
                   <tr>
                    <td>2012-11-12</td>
                    <td>IT部</td>
                    <td><a href="#">助理软件开发工程师</a></td>
                    <td>不限</td>
                    <td>本科或以上</td>
                    <td>应届毕业生</td>
                  </tr>
                  </tr>
                   <tr>
                    <td>2012-11-08</td>
                    <td>物流部</td>
                    <td><a href="#">物流助理</a></td>
                    <td>不限</td>
                    <td>本科或以上</td>
                    <td>应届毕业生</td>
                  </tr>
                  </tr>
                   <tr>
                    <td>2012-11-08</td>
                    <td>市场部</td>
                    <td><a href="#">市场助理</a></td>
                    <td>不限</td>
                    <td>本科或以上</td>
                    <td>应届毕业生</td>
                  </tr>
                  </tr>
                   <tr>
                    <td>2012-11-08</td>
                    <td>销售部-国内</td>
                    <td><a href="#">电子商务助理</a></td>
                    <td>不限</td>
                    <td>本科或以上</td>
                    <td>应届毕业生</td>
                  </tr>
                  </tr>
                   <tr>
                    <td>2012-11-08</td>
                    <td>销售部-国外</td>
                    <td><a href="#">电子商务助理</a></td>
                    <td>不限</td>
                    <td>本科或以上</td>
                    <td>应届毕业生</td>
                  </tr>
              </table>
          
           </div>
          <div id="pptype_5" style="display:none; height:500px;">
                <div class="culture-all">
                   <div class="wz">
                        <span>简历投递方式</span>
                       <p>⑴网络投递：宣讲会前，发邮件至hr@loftk.com.cn，邮件标题为：学校+姓名+应聘职位名称。如：XXX大学+张三+电子商务助理（国际市场）。（网络投递者请附上照片，并及时关注你的邮件通知）</p> 
                       <p>⑵校园招聘会现场投递：请将一寸照片、简历、成绩单及语种等级证书复印件按顺序订好，并在简历首页注明应聘职位。</p>
                        <span>面试安排：</span>
                       <p><img src="/static/img/lk-new/msap.jpg" /></p>
                          
                   </div>
                   
               </div>
   		 </div>
         <div id="pptype_6" style="display:none; height:500px;">
                <div class="culture-all">
                   <div class="wz">
                       <span> 2013年校园招聘薪资标准</span>
                       <p>应届生入职至2013年7月为实习期，实习期满并领取毕业证后，即可参与实习评价，评价通过后即可成为正式员工（无试用期）。实习期薪资是2500，转正后薪资调整为3500-4500，后续每年根据能力及岗位工作表现进行薪资调整；实习期间公司提供住宿，实习期满后，根据员工情况及意愿，可自行外宿或继续在宿舍居住，费用自理。</p> 
                        <span>额外的商业医疗保险，给予员工更多保障</span>
                       <p>全员商业医疗保险：每位员工从入职之日起，公司为员工购买价值10万元的人身意外伤害保险及意外医疗保险。</p>
                        <span>周到的假期和员工关怀</span>
                       <p>婚假、产假、陪产假、法定节假、年假均按国家规定享有；年度体检：每年选择专业体检机构为员工提供全面的健康诊断；每位员工在生日当天都能收到精美的生日礼品，与同事一起分享这份快乐。</p>
                       <span>规范的法定社会保险和住房公积金 </span>
                       <p>公司为员工提供"五险一金"：包括养老保险、医疗保险、工伤保险、失业保险、生育保险和住房公积金。</p>
                       <span>生活和工作的良好平衡</span>
                       <p>公司组织或赞助多种员工活动，如旅游、体育活动、下午茶知识分享等；为促进部门内部沟通，公司为每个部门拨付一定的活动经费（视人数确定金额），用于组织内部活动；公司提供员工活动经费支持，为了督促大家锻炼身体，愉悦身心，每月至少2次体育活动（足球/羽毛球/乒乓球/篮球）和每年一次年会。</p>
                       <span>员工关系</span>
                       <p>每年为优秀员工提供旅游等福利；为优秀大学毕业生提供深户调入；提供参加外部培训机会；行业交流经验等。</p>
                          
                   </div>
                   
               </div>
   		 </div>
 
	    {% include 'footer.html' %}